.devicepage-div {
    box-sizing: border-box;
    height: 100%;
    display: flex;
}
.devicepage-content-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.devicesList-div {
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
    width: 80%;
    color: black;
    padding: 2%;
    margin: 5% 5% 5% 5%;
    border-radius: 20px
}
#devices-table {
    width: 100%;
}
td {
    text-align: center;
    vertical-align: center;
}
#device-tr:hover {
    cursor: pointer;
    background-color: rgb(129, 129, 129);
}
#device-tr-selected {
    background-color: rgb(129, 129, 129);
}
#deviceName-input {
    width: 30%;
    padding: 1%;
    margin: 2% 0 2% 0;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    text-align: center;
}

.select-peer-device-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.buttons-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}