.login {
    width: 50%;
    margin: 5% 3% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#username, #password {
    width: 50%;
}

.createAccount {
    width: 50%;
    margin: 5% 3% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}